<body>
    <h1><%= title %></h1>
    <div>
        <a href="/new">New Message</a>
    </div>
    <div>
        <ul>
            <% for (let i=0; i < messages.length; i++) { %>
                <li>
                    <h2><%= messages[i].text %></h2>
                    <p>Sent by: <%= messages[i].user %></p>
                    <p>Posted <%= messages[i].added %></p>
                    <a href="/<%= messages[i].id %>">View Message</a>
                </li>
            <% } %>
        </ul>
    </div>
</body>